body {
    background-color: #EAE2B7;
    padding: 0;
    margin: 0;
}
div {
    display: block;
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.navbar {
    top: 0;
    padding: 2%;
    background-color: #FCBF49;
    overflow: hidden;
    text-align: center;
}
.sticky {
    position: sticky;
}
#logo {
    width: 15%;
    float: left;
    cursor: pointer;
}