@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto&display=swap');
body {
    background-color: #EAE2B7;
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
div {
    display: block;
}
p {
    font-family: 'Manrope', sans-serif;
}
a {
    -webkit-user-drag: none;
    
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.navbar {
    top: 0;
    background-color: #FCBF49;
    overflow: hidden;
    text-align: center;
    padding: calc(0.5vh + 0.5vw);
    font-family: 'Manrope', sans-serif;
}
.sticky {
    position: sticky;
}
#logo {
    width: calc(60px + 0.8vh + 0.8vw);
    float: left;
    cursor: pointer;
}
#clickLogo {
    transition: 0.3s;
}
#clickLogo:hover {
    filter: invert(0.5);
}
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.navButton {
    font-size: calc(3px + 0.8vh + 0.8vw);
    background-color: #EAE2B7;
    border: solid;
    border-color: #003049;
    color: #003049;
    border-radius: 0.25rem;
    margin: 5px;
    padding: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.navButton:hover {
    background-color: #003049;
    border-color: #EAE2B7;
    color: #EAE2B7;
}
#footer {
    background-color: #ffca61;
    position: fixed;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
    display: inline-flex;
    justify-content: center;
}
#footerlogo {
    width: calc(30px + 0.8vh + 0.8vw);
    padding-right: 2%;
}
#contactButton {
    width: fit-content;
    font-family: 'Manrope', sans-serif;
}
#logotext {
    position: relative;
    color: #003049;
    font-style: italic;
    font-weight: 900;
    font-size: calc(7px + 1vh + 1vw);
}

#hometop {
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    position: fixed;
    font-family: 'Manrope', sans-serif;
    left: 0;
    width: 100%;
    padding: 1%;
}

#mascot {
    border-radius: 50;
    width: fit-content;
    outline: 3px solid #ffca61;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

#quote {
    position: relative;
    top: 50%;
}